# URL pública de la API
NEXT_PUBLIC_API_BASE_URL=http://localhost:8000

NEXT_PUBLIC_GEOAPIFY_MAP_KEY=your_api_key_geoapify
NEXT_PUBLIC_GEOAPIFY_MAP_STYLE="osm-bright-grey"
# osm-carto · osm-bright · osm-bright-grey · osm-bright-smooth · klokantech-basic · positron · positron-blue · dark-matter · dark-matter-brown · toner · toner-grey