APP_NAME=moodbrew
ENVIRONMENT=dev
BACKEND_PORT=8000

POSTGRES_USER=moodbrew
POSTGRES_PASSWORD=tu_password_aqui
POSTGRES_DB=moodbrew
POSTGRES_HOST=db
POSTGRES_PORT=5432
POSTGRES_HOST_PORT=5455

LLM_API_KEY=your_api_key_cerebras
LLM_BASE_URL=https://api.cerebras.ai/v1
LLM_MODEL=gpt-oss-120b

GEOAPIFY_API_KEY=your_api_key_geoapify
